.news-container {
    padding: 2%;
    justify-content: center;
}

.banner {
    justify-content: center;
    text-align: center;
}

.heading {
    font-family: var(--apple-system);
    font-size: 1.4em;
    padding: 1%;
}

.sub-heading {
    font-family: var(--apple-system);
    font-size: 1em;
    padding: 1%;
}